.post-category {
    /* --flow-space: var(--space-s); */
    --cluster-space: 0.5rem;
    font-size: var(--step--1);
    font-weight: 700;
    /* background-color: var(--color-parchment-dark); */
    /* border-radius: 3px; */
    /* padding-inline: 6px; */
    /* padding-block: 3px; */
    line-height: 1.15;
}

.post-footer {
    --padding-top-offset: var(--space-m);
    /* border-block-start: 1px solid var(--site-border); */
    margin-block-start: var(--space-xl);
    padding-block-start: var(--padding-top-offset);

    & .heading {
        color: var(--site-accent);
    }

    & > * + * {
        margin-block-start: var(--space-l);
    }

    &::before {
        content: "";
        position: relative;
        display: block;
        top: calc(var(--padding-top-offset) * -1);
        width: 100%;
        height: 1px;
        background-color: var(--site-border);
    }
}

.post-endcap {
    position: relative;
    & svg {
        position: relative;
        left: 50%;
        transform: rotate(90deg) translateY(50%);
    }
}
