---
interface Props {
    type?: "audience" | "archive" | "context";
}

const { type = "context" } = Astro.props;

let heading = "";

switch (type) {
    case "audience":
        heading = "Assumed Audience";
        break;
    case "archive":
        heading = "Archived Post";
        break;
    default:
        heading = "Context";
        break;
}
---

<aside class="context-box" data-type={type}>
    <div class="heading">
        <svg
            fill="currentColor"
            height="20"
            viewBox="0 0 20 20"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
                clip-rule="evenodd"
                d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                fill-rule="evenodd"></path></svg
        ><span>{heading}</span>
    </div>
    <div class="message">
        <slot />
    </div>
</aside>

<style>
    .context-box {
        margin-inline: var(--gutter-spacing);
        padding: var(--space-m);
        border-radius: var(--rounded-xs);
        font-size: var(--step--1);
        color: var(--site-text--reverse);
        background:
            url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 0 938 940" width="64" height="64"><g transform="matrix(1 0 0 -1 0 752)"><path fill="%23009FB8" d="M0 21v474h918v-474h-918zM24 45h870v426h-870v-426zM96 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM96 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z M168 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM240 84q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM96 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM168 228q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM240 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z M315 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM96 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM387 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM168 324q-13 0 -23 10t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM240 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM315 228 q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM387 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM459 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5 t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM240 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM531 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM315 324q-13 0 -23 10 t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM387 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM459 228q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5 q0 -13 -9.5 -23t-23.5 -10zM531 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM606 129q-16 0 -26 10t-10 23q0 14 10 23.5t26 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM387 372q-13 0 -23 10t-10 23 q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM678 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM459 324q-13 0 -23 10t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23 t-23.5 -10zM531 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM606 228q-16 0 -26 10t-10 23q0 14 10 23.5t26 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM678 180q-13 0 -23 10t-10 23q0 14 10 23.5 t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM750 129q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM531 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23 t-23.5 -10zM822 81q-13 0 -23 10t-10 26q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -16 -9.5 -26t-23.5 -10zM606 324q-16 0 -26 10t-10 23q0 16 10 26t26 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM678 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM750 228q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM822 180q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z M678 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM750 324q-13 0 -23 10t-10 23q0 16 10 26t23 10q14 0 23.5 -10t9.5 -26q0 -13 -9.5 -23t-23.5 -10zM822 276q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5 q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10zM822 372q-13 0 -23 10t-10 23q0 14 10 23.5t23 9.5q14 0 23.5 -9.5t9.5 -23.5q0 -13 -9.5 -23t-23.5 -10z"/></g></svg>')
                repeat-x 0 -8px / 32.35px,
            var(--site-accent);

        & .heading {
            display: inline-flex;
            gap: 0.5rem;
            align-items: center;
            margin-block-start: var(--space-2xs);
            margin-block-end: var(--space-3xs);
            font-weight: var(--font-heading-weight);
            font-family: var(--font-heading);
            font-size: var(--step-1);
            letter-spacing: 0.03ex;

            & svg {
                width: 22px;
                height: 22px;
            }
        }
    }

    :global(.context-box a) {
        color: var(--site-text--reverse);
        text-decoration-color: var(--site-text--reverse);
    }

    @media screen and (max-width: 860px) {
        .context-box {
            margin-inline: 0;
        }
    }

    @media screen and (max-width: 640px) {
        .context-box {
            padding: var(--space-s);
        }
    }
</style>
