---

---

<div class="post-info | cluster">
    <slot />
</div>

<style>
    .post-info {
        column-gap: var(--space-m);
        row-gap: var(--space-3xs);
        border-block: 1px solid var(--site-border);
        padding-block: var(--space-xs);
        margin-block-start: var(--space-l);
        font-size: var(--step--1);
    }
</style>
