---
import { getCollection, getEntry, render } from "astro:content";
import Breadcrumbs from "@components/navigation/Breadcrumbs.astro";
import CategoryList from "@components/posts/CategoryList.astro";
import PageHeader from "@components/document/PageHeader.astro";
import PageWrapper from "@components/document/PageWrapper.astro";
import PostsList from "@components/posts/PostsList.astro";
import { getPageMeta } from "@utils/meta";

const posts = await getCollection("posts", ({ data }) => data.archived == true);

const page = await getEntry("pages", "posts-archive");
if (!page) {
    throw new Error("page not found");
}
const { Content } = await render(page);
---

<PageWrapper pageID={page.id} pageMeta={getPageMeta(page)}>
    <div class="content-wrapper paragraph">
        <Breadcrumbs />
        <PageHeader title={page.data.title}>
            <div class="preview">
                <Content />
            </div>
        </PageHeader>
        <CategoryList />
        <div class="list-spacer">
            <PostsList posts={posts} />
        </div>
    </div>
</PageWrapper>
