---
import { getEntry, render } from "astro:content";
import Breadcrumbs from "@components/navigation/Breadcrumbs.astro";
import PageHeader from "@components/document/PageHeader.astro";
import PageWrapper from "@components/document/PageWrapper.astro";
import { getPageMeta } from "@utils/meta";

const page = await getEntry("pages", "library-index");
if (!page) {
    throw new Error("page not found");
}
const { Content } = await render(page);
---

<PageWrapper pageID={page.id} pageMeta={getPageMeta(page)}>
    <div class="content-wrapper paragraph">
        <Breadcrumbs />
        <PageHeader title={page.data.title}>
            <div class="preview">
                <Content />
            </div>
        </PageHeader>
        <ul class="list-spacer">
            <li><a href="/library/books">Books</a></li>
            <li><a href="/library/reviews">Reviews</a></li>
        </ul>
    </div>
</PageWrapper>
